Package: com.ruler225.videohud
Name: VideoHUD
Depends: mobilesubstrate, firmware (>=11.0)
Version: 2.4
Architecture: iphoneos-arm
Description: Implement the volume HUD from the iOS 11 video player systemwide!
Maintainer: Youssef Mikhail <ymiscool@hotmail.com>
Author: Youssef Mikhail <ymiscool@hotmail.com>
Section: Tweaks
