Package: com.ruler225.fasterunlock
Name: FasterUnlock
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Remove that annoying delay when pressing the home button on the lock screen to bring up the passcode screen. 
Maintainer: Youssef Mikhail
Author: Youssef Mikhail
Section: Tweaks
