Package: com.ruler225.openwithgooglephotos
Name: Open with Google Photos
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Youssef Mikhail
Author: Youssef Mikhail
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 120
