Package: com.ruler225.waketunes
Name: WakeTunes
Depends: mobilesubstrate, preferenceloader, firmware (>=9.0)
Architecture: iphoneos-arm
Description: Turns on the screen when the currently playing song changes.
Maintainer: Youssef Mikhail
Author: Youssef Mikhail
Section: Tweaks
Version: 1.1-1
Installed-Size: 260
