Package: com.ruler225.peekatunes
Name: Peek-a-Tunes
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Wake the screen when currently playing song changes/paused/played
Maintainer: Youssef Mikhail
Author: Youssef Mikhail
Section: Tweaks
